pipeline/pipeline6.json
{
	"name": "pipeline6",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "FinalVariable",
					"value": {
						"value": "@variables('TempVariable')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('FinalVariable')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			}
		],
		"variables": {
			"TempVariable": {
				"type": "Array",
				"defaultValue": [
					"India",
					"USA",
					"UK"
				]
			},
			"FinalVariable": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-01-04T04:44:34Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}