pipeline/pipeline7.json
{
	"name": "pipeline7",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "AssignList",
					"value": {
						"value": "@variables('InputVariable')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('AssignList')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "GetAssignlistvalue",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Append variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "GetTheassignedlist",
								"value": {
									"value": "@variables('GetAssignlistvalue')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable3",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Previouspostion",
								"value": 1
							}
						},
						{
							"name": "Set variable4",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set variable3",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "CurrentPosition",
								"value": {
									"value": "@add(variables('Previouspostion'),1)",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"InputVariable": {
				"type": "Array",
				"defaultValue": [
					1,
					2,
					3,
					4,
					5
				]
			},
			"AssignList": {
				"type": "Array"
			},
			"GetAssignlistvalue": {
				"type": "Array"
			},
			"GetTheassignedlist": {
				"type": "Array"
			},
			"Previouspostion": {
				"type": "Integer",
				"defaultValue": 0
			},
			"CurrentPosition": {
				"type": "Integer",
				"defaultValue": 0
			},
			"PostionValue": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-01-05T04:41:41Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}